language: node_js
node_js:
  - '6'
services:
  - postgresql
before_script:
  - psql -c 'create database wechallenge;' -U postgres
  - psql -U postgres wechallenge < dbexport.pgsql
deploy:
  provider: heroku
  api_key:
    secure: eDOOt1cp4MJNvlviGFC4XdLfOA79kbz6jCAK33r9EixoUOqkcqrdTJa28QQPv6oL25NJlKOftAPBpB6RE9FafIGhJAoVZIT1HUdweV0J8bhUTc5tg+7yrvwFPLYI1E9vbGTPg4DOQf9b47QEpii9JJbA6cqGskKLJvFrEJQeF/GLxHuy5ZFQ9WLiMlaX/v9m+YNBwgEq0pUSBLpjjUxOidMbqJVrJ6ugudA4XdAjxJpJwhWRzhtmYl0VpZ3uxGJODxDtF5h+MlL1mJlYikHPhzbHbgZ8W0KBY9ROz0n0utricpCu6m9SmXaI3yHnrIlHQrwABgsFgeRLYru00F0LZ79q4xRHU0YDTwB1bXvMt8qyW6U/AgkEHEVMrz8/jvnKigN3vzaHDoLJvMvTewnHl0U1fFoaULZZL4A+u3YDNmZFJox6/4mh/B9/nNKFy9/OKnK0vdNnD0IVsF1TE6w/LdXHOKyTDG4Xy/OZt4Ee5cfaGDs99J4rynOt/tkADiGpFRlzKB0/RIXH4AfDiqPQU95GmkjQ4qtIEYgIisM/TsBzvi2tVuCyrYHY+a/ghE3smZGcaGpnY85q9NGEhNE4hbxhKuS3GKj4KV031ZyqnQD/cTxgGaapMErFvg2dNO3gpRihTK5Dzj3ZK/bAV9h/1ka0KCVSFzbuzxwCYD6iluo=
  app: wechallenge
